@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-400;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-100;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #BAA88D #FFF1DB;
    scrollbar-width: thin;
  }
}